<!-- Room Selection Buttons -->
<div class="chat-room">
  <div class="room-selection">
    <div class="app-title">Chatify</div>
  </div>

  <!-- Conditional UI -->
  <ng-container>
    <div class="room-join">
      <input
        type="text"
        id="roomInput"
        [disabled]="isdisabled"
        [(ngModel)]="room"
        placeholder="Enter Room Name to Join"
      />
      <button id="joinRoomBtn" [disabled]="isdisabled" (click)="joinRoom()">
        Join Room
      </button>
    </div>
  </ng-container>

  <div class="app">
    <!-- Chat Area -->
    <div class="chat-section">
      <div class="chat-header">
        <h2>Chat Room</h2>
        <div *ngIf="socketId" class="user-id">
          User ID: <span id="socketId">{{ socketId }}</span>
        </div>
      </div>

      <div class="chat-messages">
        <div
          *ngFor="let msg of messages"
          [ngClass]="{
            sender: msg.sender === socketId,
            receiver: msg.sender !== socketId
          }"
          class="message"
        >
          {{ msg.content }}
        </div>
      </div>

      <div class="chat-input">
        <input
          type="text"
          id="messageInput"
          [(ngModel)]="message"
          placeholder="Type a message..."
        />
        <button id="sendBtn" (click)="sendMessage()">Send</button>
      </div>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
      <div class="sidebar-header">Participants</div>
      <div class="user-list" id="userList">
        <div
          class="user"
          *ngFor="let participant of participants; let i = index"
        >
          <p>User {{ i + 1 }}: {{ participant.id }}</p>
        </div>
      </div>
      <div class="sidebar-buttons">
        <!-- <button id="btn1" (click)="connectSocket()">Connect Socket</button> -->
        <!-- <button id="btn2" (click)="disConnectSocket()">Disconnected</button> -->
      </div>
    </div>
  </div>
</div>
