<div>
  <!-- <button (click)="connectSocket()">Socket Connect</button> -->
  <button (click)="disConnectSocket()">Socket Disconnected</button>
</div>
<br />

<div>
  <input [(ngModel)]="username" placeholder="Enter User Name" />
  <button (click)="joinUser()">Join User</button>
</div>
<br />

<div>
  <div>
    <div *ngFor="let msg of messages">{{ msg }}</div>
  </div>
  <div>
    <input [(ngModel)]="message" placeholder="Type a message..." />
    <button (click)="send()">Send</button>
  </div>
</div>
